Repository FoxMD/jfin, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, source, gui, controller, database', model

Create maven_lnx_sdk17.yml
  .github/workflows/maven_lnx_sdk17.yml
Labels: none

dev-nbdell-env-secrets
  .gitignore
  src/main/java/com/connector/DBConnector.java
  src/main/java/com/connector/SysHandler.java
  target/classes/com/connector/DBConnector.class
  target/classes/com/connector/SysHandler.class
Labels: repo, source

dev-nbdell-env-secrets
  checkstyle-suppressions.xml
  src/main/java/com/connector/DBConnector.java
  src/main/java/com/connector/SysHandler.java
  target/classes/com/connector/DBConnector.class
Labels: repo, source

workflows
  checkstyle-suppressions.xml
  src/main/java/com/connector/DBConnector.java
Labels: repo, source

dev-nbdell-gitignore
  .gitignore
Labels: repo

ADD in DB Connector
  src/main/java/com/connector/DBConnector.java
  target/classes/com/connector/DBConnector.class
Labels: source

Update DB Working
  src/main/java/com/connector/DBConnector.java
  src/main/java/com/core/Controller.java
  src/main/java/com/gui/ControlPanel.java
  src/main/java/com/model/FinanceModel.java
  target/classes/com/connector/DBConnector.class
  target/classes/com/core/Controller.class
  target/classes/com/gui/ControlPanel.class
  target/classes/com/model/FinanceModel.class
Labels: source

WIP: Add to DB
  src/main/java/com/core/Controller.java
  src/main/java/com/gui/AddFrame.java
  src/main/java/com/gui/ControlPanel.java
  target/classes/com/core/Controller.class
  target/classes/com/gui/AddFrame$1.class
  target/classes/com/gui/AddFrame.class
  target/classes/com/gui/ControlPanel$1.class
  target/classes/com/gui/ControlPanel.class
Labels: source

Utils for no magic numbers
  src/main/java/com/connector/DBConnector.java
  src/main/java/com/core/Controller.java
  src/main/java/com/gui/AddFrame.java
  src/main/java/com/gui/ControlPanel.java
  src/main/java/com/model/FinanceModel.java
  src/main/java/com/model/Utils.java
  target/classes/com/connector/DBConnector.class
  target/classes/com/core/Controller.class
  target/classes/com/gui/AddFrame$1.class
  target/classes/com/gui/AddFrame.class
  target/classes/com/model/Utils.class
Labels: source

Utils for DB modified
  src/main/java/com/connector/DBConnector.java
  target/classes/com/connector/DBConnector.class
Labels: source

Utils for DB modified
  src/main/java/com/connector/DBConnector.java
  src/main/java/com/gui/AddFrame.java
  src/main/java/com/model/Utils.java
  target/classes/com/connector/DBConnector.class
  target/classes/com/gui/AddFrame$1.class
  target/classes/com/gui/AddFrame.class
  target/classes/com/model/Utils.class
Labels: source

Errors fixed
  checkstyle-suppressions.xml
  src/main/java/com/connector/DBConnector.java
  target/classes/com/connector/DBConnector.class
Labels: repo, source

Errors fixed
  src/main/java/com/connector/DBConnector.java
Labels: source

Enum for entries
  src/main/java/com/connector/DBConnector.java
  src/main/java/com/core/Controller.java
  src/main/java/com/gui/AddFrame.java
  src/main/java/com/model/Utils.java
  target/classes/com/connector/DBConnector.class
  target/classes/com/core/Controller.class
  target/classes/com/gui/AddFrame$1.class
  target/classes/com/gui/AddFrame.class
  target/classes/com/model/Utils$Entries.class
  target/classes/com/model/Utils.class
Labels: source

XCHART working after update
  src/main/java/com/gui/GraphPanel.java
  target/classes/com/gui/GraphPanel.class
Labels: source

Utils docs etc
  src/main/java/com/model/Utils.java
Labels: source

maven-jacoco-coverage
  src/test/java/com/core/AppTest.java
  src/test/java/com/gui/AddTest.java
  target/checkstyle-cachefile
  target/checkstyle-result.xml
  target/jacoco.exec
  target/site/jacoco/jacoco-sessions.html
  target/site/jacoco/jacoco.xml
  target/surefire-reports/2023-07-04T20-32-22_451.dumpstream
  target/surefire-reports/2023-07-04T20-33-20_414.dumpstream
  target/surefire-reports/TEST-com.connector.ConnectorTest.xml
  target/surefire-reports/TEST-com.core.AppTest.xml
  target/surefire-reports/TEST-com.gui.AddTest.xml
  target/surefire-reports/TEST-com.model.ConstantsTest.xml
  target/surefire-reports/TEST-com.model.FinanceModelTest.xml
  target/surefire-reports/com.connector.ConnectorTest.txt
  target/surefire-reports/com.core.AppTest.txt
  target/surefire-reports/com.gui.AddTest.txt
  target/surefire-reports/com.model.ConstantsTest.txt
  target/surefire-reports/com.model.FinanceModelTest.txt
  target/test-classes/com/core/AppTest.class
  target/test-classes/com/gui/AddTest.class
Labels: source

maven-jacoco-coverage
  src/test/java/com/model/FinanceModelTest.java
  target/checkstyle-cachefile
  target/checkstyle-result.xml
  target/jacoco.exec
  target/site/jacoco/jacoco-sessions.html
  target/site/jacoco/jacoco.xml
  target/surefire-reports/2023-07-04T20-36-32_083.dumpstream
  target/surefire-reports/TEST-com.connector.ConnectorTest.xml
  target/surefire-reports/TEST-com.core.AppTest.xml
  target/surefire-reports/TEST-com.model.ConstantsTest.xml
  target/surefire-reports/com.connector.ConnectorTest.txt
  target/surefire-reports/com.core.AppTest.txt
  target/test-classes/com/model/FinanceModelTest.class
Labels: source

maven-jacoco-coverage-off
  pom.xml
Labels: repo

Update maven.yml
  .github/workflows/maven.yml
Labels: none

maven-jacoco-coverage-off
  .github/workflows/maven.yml
Labels: none

Create README.md
  README.md
Labels: repo

.github/labeler.yml:

repo:
  - '*'

test:
  - test/**

source:
  - src/**

gui:
  - package gui/**

controller:
  - package core/**

database':
  - package connector/**

model:
  - package model/**
