Repository FoxMD/jfin, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, source, gui, controller, database', model

.github/labeler.yml:

repo:
  - '*'

test:
  - test/**

source:
  - src/**

gui:
  - src/main/java/com/gui/**


controller:
  - src/main/java/com/core/**

database':
  - src/main/java/com/connector/**

model:
  - src/main/java/com/model/**

Doku_control
  src/main/java/com/core/Controller.java
  target/classes/com/core/Controller.class
Labels: source, controller

settings
  .gitignore
Labels: repo

Working Chart graph
  src/main/java/com/core/Controller.java
  src/main/java/com/gui/GraphPanel.java
  src/main/java/com/model/FinanceModel.java
  target/checkstyle-cachefile
  target/checkstyle-result.xml
  target/classes/com/core/Controller.class
  target/classes/com/gui/GraphPanel.class
  target/classes/com/model/FinanceModel.class
  target/jacoco.exec
  target/site/jacoco/com.connector/DBConnector.html
  target/site/jacoco/com.connector/DBConnector.java.html
  target/site/jacoco/com.core/Controller.html
  target/site/jacoco/com.core/Controller.java.html
  target/site/jacoco/com.core/index.html
  target/site/jacoco/com.core/index.source.html
  target/site/jacoco/com.gui/GraphPanel.html
  target/site/jacoco/com.gui/GraphPanel.java.html
  target/site/jacoco/com.gui/index.html
  target/site/jacoco/com.gui/index.source.html
  target/site/jacoco/com.model/FinanceModel.html
  target/site/jacoco/com.model/FinanceModel.java.html
  target/site/jacoco/com.model/Utils.html
  target/site/jacoco/com.model/Utils.java.html
  target/site/jacoco/com.model/index.html
  target/site/jacoco/com.model/index.source.html
  target/site/jacoco/index.html
  target/site/jacoco/jacoco-sessions.html
  target/site/jacoco/jacoco.csv
  target/site/jacoco/jacoco.xml
  target/surefire-reports/2023-07-12T14-32-13_462.dumpstream
  target/surefire-reports/2023-07-12T16-25-54_620.dumpstream
  target/surefire-reports/TEST-com.connector.ConnectorTest.xml
  target/surefire-reports/TEST-com.core.AppTest.xml
  target/surefire-reports/TEST-com.model.ConstantsTest.xml
  target/surefire-reports/com.connector.ConnectorTest.txt
  target/surefire-reports/com.core.AppTest.txt
Labels: source, gui, controller, model

Rearanged
  src/main/java/com/gui/GraphPanel.java
  src/main/java/com/gui/SumActionPanel.java
  src/main/java/com/gui/View.java
  src/main/java/com/model/FinanceModel.java
  target/checkstyle-cachefile
  target/checkstyle-result.xml
  target/classes/com/gui/GraphPanel.class
  target/classes/com/gui/SumActionPanel.class
  target/classes/com/gui/View.class
  target/classes/com/model/FinanceModel.class
  target/jacoco.exec
  target/site/jacoco/com.gui/GraphPanel.html
  target/site/jacoco/com.gui/GraphPanel.java.html
  target/site/jacoco/com.gui/SumActionPanel.html
  target/site/jacoco/com.gui/SumActionPanel.java.html
  target/site/jacoco/com.gui/View.java.html
  target/site/jacoco/com.gui/index.html
  target/site/jacoco/com.gui/index.source.html
  target/site/jacoco/com.model/FinanceModel.html
  target/site/jacoco/com.model/FinanceModel.java.html
  target/site/jacoco/com.model/index.html
  target/site/jacoco/com.model/index.source.html
  target/site/jacoco/index.html
  target/site/jacoco/jacoco-sessions.html
  target/site/jacoco/jacoco.csv
  target/site/jacoco/jacoco.xml
  target/surefire-reports/2023-07-12T17-56-25_244.dumpstream
  target/surefire-reports/2023-07-12T18-19-51_364.dumpstream
  target/surefire-reports/TEST-com.connector.ConnectorTest.xml
  target/surefire-reports/TEST-com.core.AppTest.xml
  target/surefire-reports/TEST-com.model.ConstantsTest.xml
  target/surefire-reports/com.connector.ConnectorTest.txt
  target/surefire-reports/com.core.AppTest.txt
Labels: source, gui, model

Refactored some more: credentials
  .gitignore
  src/main/java/com/connector/DBConnector.java
  src/main/java/com/core/Start.java
  target/checkstyle-cachefile
  target/checkstyle-result.xml
  target/classes/com/connector/DBConnector.class
  target/classes/com/core/Start$1.class
  target/classes/com/core/Start.class
  target/jacoco.exec
  target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
  target/site/jacoco/com.connector/DBConnector.html
  target/site/jacoco/com.connector/DBConnector.java.html
  target/site/jacoco/com.connector/index.html
  target/site/jacoco/com.connector/index.source.html
  target/site/jacoco/com.core/Start$1.html
  target/site/jacoco/com.core/Start.html
  target/site/jacoco/com.core/Start.java.html
  target/site/jacoco/com.core/index.html
  target/site/jacoco/com.core/index.source.html
  target/site/jacoco/index.html
  target/site/jacoco/jacoco-sessions.html
  target/site/jacoco/jacoco.csv
  target/site/jacoco/jacoco.xml
  target/surefire-reports/2023-07-29T16-59-11_132.dumpstream
  target/surefire-reports/TEST-com.connector.ConnectorTest.xml
  target/surefire-reports/TEST-com.core.AppTest.xml
  target/surefire-reports/TEST-com.model.ConstantsTest.xml
  target/surefire-reports/com.connector.ConnectorTest.txt
  target/surefire-reports/com.core.AppTest.txt
Labels: repo, source, controller, database'

Refactored some more: .gitignore Credentials removed
  .gitignore
  src/main/java/com/connector/Credentials.java
Labels: repo, source, database'

modified gitignore
  .gitignore
  target/classes/com/connector/DBConnector.class
  target/classes/com/core/Controller.class
  target/classes/com/core/Start$1.class
  target/classes/com/core/Start.class
  target/classes/com/gui/AddFrame$1.class
  target/classes/com/gui/AddFrame$Caller.class
  target/classes/com/gui/AddFrame.class
  target/classes/com/gui/ControlPanel$1.class
  target/classes/com/gui/ControlPanel.class
  target/classes/com/gui/GraphPanel.class
  target/classes/com/gui/View.class
  target/classes/com/model/FinanceModel.class
  target/test-classes/com/gui/AddTest.class
Labels: repo

Unit testing - model coverage 100%
  src/main/java/com/connector/DBConnector.java
  src/main/java/com/connector/IDatabase.java
  src/main/java/com/core/Controller.java
  src/main/java/com/core/Start.java
  src/main/java/com/gui/GraphPanel.java
  src/main/java/com/model/FinanceModel.java
  src/test/java/com/core/AppTest.java
  src/test/java/com/core/MockDB.java
  src/test/java/com/model/FinanceModelTest.java
  src/test/java/com/model/UtilsTest.java
  target/checkstyle-cachefile
  target/checkstyle-result.xml
  target/classes/com/connector/DBConnector.class
  target/classes/com/connector/SysHandler.class
  target/classes/com/core/Controller.class
  target/classes/com/core/Start$1.class
  target/classes/com/core/Start.class
  target/classes/com/gui/AddFrame$1.class
  target/classes/com/gui/AddFrame$Caller.class
  target/classes/com/gui/AddFrame.class
  target/classes/com/gui/ControlPanel$1.class
  target/classes/com/gui/ControlPanel.class
  target/classes/com/gui/GraphPanel.class
  target/classes/com/gui/SearchPanel$1.class
  target/classes/com/gui/SearchPanel.class
  target/classes/com/gui/SelectorPanel$1.class
  target/classes/com/gui/SelectorPanel.class
  target/classes/com/gui/SumActionPanel.class
  target/classes/com/gui/VHelperPanel.class
  target/classes/com/gui/View.class
  target/classes/com/model/Constants.class
  target/classes/com/model/FinanceModel.class
  target/classes/com/model/Utils$Entries.class
  target/classes/com/model/Utils.class
  target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
  target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
  target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
  target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
  target/test-classes/com/core/AppTest.class
  target/test-classes/com/model/FinanceModelTest.class
Labels: source, gui, controller, database', model

No magic numbers and CZK in overciew
  src/main/java/com/gui/GraphPanel.java
  src/main/java/com/model/FinanceModel.java
  src/main/java/com/model/Utils.java
  src/test/java/com/connector/ConnectorTest.java
  src/test/java/com/core/AppTest.java
  src/test/java/com/model/FinanceModelTest.java
  src/test/java/com/model/UtilsTest.java
  target/checkstyle-cachefile
  target/checkstyle-result.xml
  target/classes/com/gui/GraphPanel.class
  target/classes/com/model/FinanceModel.class
  target/classes/com/model/Utils$Entries.class
  target/classes/com/model/Utils.class
  target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
  target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
  target/test-classes/com/connector/ConnectorTest.class
  target/test-classes/com/core/AppTest.class
  target/test-classes/com/gui/AddTest.class
  target/test-classes/com/model/ConstantsTest.class
  target/test-classes/com/model/FinanceModelTest.class
Labels: source, gui, model

Overviews
  target/checkstyle-cachefile
  target/checkstyle-result.xml
  target/classes/com/connector/DBConnector.class
  target/classes/com/connector/SysHandler.class
  target/classes/com/core/Controller.class
  target/classes/com/core/Start$1.class
  target/classes/com/core/Start.class
  target/classes/com/gui/AddFrame$1.class
  target/classes/com/gui/AddFrame$Caller.class
  target/classes/com/gui/AddFrame.class
  target/classes/com/gui/ControlPanel$1.class
  target/classes/com/gui/ControlPanel.class
  target/classes/com/gui/GraphPanel.class
  target/classes/com/gui/SearchPanel$1.class
  target/classes/com/gui/SearchPanel.class
  target/classes/com/gui/SelectorPanel$1.class
  target/classes/com/gui/SelectorPanel.class
  target/classes/com/gui/SumActionPanel.class
  target/classes/com/gui/VHelperPanel.class
  target/classes/com/gui/View.class
  target/classes/com/model/Constants.class
  target/classes/com/model/FinanceModel.class
  target/classes/com/model/Utils$Entries.class
  target/classes/com/model/Utils.class
  target/test-classes/com/connector/ConnectorTest.class
  target/test-classes/com/core/AppTest.class
  target/test-classes/com/gui/AddTest.class
  target/test-classes/com/model/ConstantsTest.class
  target/test-classes/com/model/FinanceModelTest.class
Labels: none
